@charset "utf-8";
.banner-inner {
  position: relative;
  /* display: block; */
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.sw-banner a {
  /* display: inline-block; */
  overflow: hidden;
}
.sw-banner a img {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
}

/* pagination */
.sw-banner-control {
  position: relative;
  text-align: center;
  /* display: none; */
}
.swiper-pagination-bullet{
  background-color: black;
}
/* 반응형 */
@media screen and (max-width: 1280px) {
  .swiper-slide a img {
    width: 100%;
  }
}
