@charset "utf-8";
html{
    font-size: 10px;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  .wrap {
    width: 100%;
    max-width: 1280px;
    display: block;
    margin: 0 auto;
  }
/* 헤더 */
.header {
  position: relative;
  width: 100%;
  /* height: 120px; */
  background-color: black;
  z-index: 99999;
  padding:0 20px;
}
.header .header-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 상단위 왼쪽 메뉴바 */
.header-inner .bar {
  width: 10%;
}
.header-inner .bar img {
  width: 95%;
  float: left;
}

/* 모바일 메뉴 (메뉴바 탭 하면 나오는 창) */
.nav-mb {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  /* z-index: 99999; */
}
.nav-mb.active {
  top: 100%;
  left: 0;
  opacity: 1;
}
.nav-mb-gnb li {
  line-height: 55px;
}
.nav-mb-gnb li a {
  display: block;
  padding: 0 20px;
  font-size: 2rem;
  color: #000000;
  background-color: #adadad91;
  /* border-bottom: 2px solid #e5e5e5; */
  text-decoration-line: none;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* 로고 */
.header-inner .logo {
  width: 100%;
  /* height: 80%; */
  display: flex;
  justify-content: center;
}
.header-inner .logo img {
  width: 80%;
  float: left;
  margin: 20px;
}
/* 상단위 오른쪽 장바구니 */
.header-inner .cart {
  width: 10%;
}
.header-inner .cart img {
  width: 100%;
}
/* 설명글 */
.main{
    width: 100%;
    height: 100%;
    background-color: #FFDADA;
}
/* 타이틀글자 */
.title{
    width: 100%;
}
.title h2 , .title p{
text-align: center;
}
.title h2{
    font-size: 90px;
    padding-top: 70px;
    font-weight: 900;
}
.title p{
    font-size: 50px;
}
/* 이미지 */
.main-img{
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin-bottom: 70px;
}
.main-img img{
   width: 30%;
   margin: 10px;
   }
   /* 소개글 */
   .main-letter{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    
   }
   .main-letter p{
    margin-bottom: 80px;
    padding: 0 40px 40px 40px;
   }
   .main-letter p strong{
    color: red;
   }
   .main-letter button{
    font-size: 40px;
    padding: 20px 50px;
    border-radius: 20px;
    color: rgb(255, 51, 85);
    margin-bottom: 100px;
   }
   /* footer */
   .footer {
    width: 100%;
    height: 300px;
    background-color: black;
  }
  .footer-inner {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
  }
  .footer-left {
    width: calc(100% / 3);
    margin-left: 10px;
  }
  .footer-left img {
    margin-top: 100px;
  }
  .footer-left p {
    font-size: 20px;
  }
  .footer-right {
    width: calc(100% / 3 * 2);
    display: flex;
  }
  
  .footer-right .center {
    width: calc(100% / 2);
  }
  .footer-right .center p {
    font-size: 20px;
    margin-top: 40px;
  }
  .footer-right .right {
    width: calc(100% / 2);
  }
  .footer-right .right p {
    font-size: 20px;
    margin-top: 40px;
    line-height: 30px;
  }
  .footer-right .right img {
    margin-top: 20px;
  }
  /* 반응형 */
  @media screen and (max-width: 950px) {
    .footer-left img {
      width: 70%;
    }
    .footer-right .right img {
      width: 70%;
    }
    .title h2{
      font-size: 80px;
      padding-top: 40px;
  }
  .title p{
      font-size: 40px;
  }
  .main-letter p{
    font-size: 35px;
  }
  .main-letter button{
    font-size: 35px;
  }
  }
  @media screen and (max-width: 800px) {
    .footer-left img {
      width: 70%;
    }
    .footer-right .right img {
      width: 70%;
    }
    .footer-left p {
      font-size: 15px;
    }
    .footer-right .center p {
      font-size: 17px;
    }
    .footer-right .right p {
      font-size: 17px;
    }
    .title h2{
      font-size: 70px;
      padding-top: 40px;
  }
  .title p{
      font-size: 35px;
  }
  .main-letter p{
    font-size: 30px;
  }
  .main-letter button{
    font-size: 30px;
  }
  
  }
  @media screen and (max-width: 650px) {
    .footer-left img {
      width: 70%;
    }
    .footer-right .right img {
      width: 70%;
    }
    .footer-left p {
      font-size: 15px;
    }
    .footer-right .center p {
      font-size: 15px;
      line-height: 18px;
    }
    .footer-right .right p {
      font-size: 15px;
      line-height: 25px;
    }
    .title h2{
      font-size: 60px;
      padding-top: 40px;
  }
  .title p{
      font-size: 30px;
  }
  .main-letter p{
    font-size: 30px;
    margin-bottom: 50px;
  }
  .main-letter button{
    font-size: 28px;
  }
  }
  @media screen and (max-width: 550px) {
    .footer-left img {
      width: 70%;
      margin-top: 120px;
    }
    .footer-right .right img {
      width: 70%;
    }
    .footer-left p {
      font-size: 13px;
    }
    .footer-right .center p {
      font-size: 13px;
      line-height: 12px;
      margin-top: 50px;
    }
    .footer-right .right p {
      font-size: 13px;
      line-height: 25px;
    }
    .title h2{
      font-size: 45px;
      padding-top: 40px;
  }
  .title p{
      font-size: 28px;
  }
  .main-letter p{
    font-size: 25px;
    margin-bottom: 40px;
  }
  .main-letter button{
    font-size: 25px;
  }
  }
  @media screen and (max-width: 450px) {
    .main-img img{
      margin: 5px;
    }
    .footer-left img {
      width: 70%;
      margin-top: 120px;
    }
    .footer-right .right img {
      width: 70%;
    }
    .footer-left p {
      font-size: 12px;
    }
    .footer-right .center p {
      font-size: 12px;
      line-height: 12px;
      margin-top: 50px;
    }
    .footer-right .right p {
      font-size: 12px;
      line-height: 20px;
    }
    .title h2{
      font-size: 38px;
      padding-top: 50px;
  }
  .title p{
      font-size: 23px;
  }
  .main-letter p{
    font-size: 25px;
    margin-bottom: 30px;
   
  }
  .main-letter button{
    font-size: 25px;
  }
  }
  @media screen and (max-width: 320px) {
      .main-img img{
        margin: 5px;
      }
      .footer-inner {
         
          display: block;
        }
        .footer-left {
          margin: 0 auto;
          display: block;
        }
        .footer-left img {
          margin: 0px auto;
          display: block;
          padding-top: 10px;
        }
        .footer-left p {
          font-size: 8px;
          display: block;
          margin: 0 auto;
          
        }
        .footer-right {
          width: 100%;
  
          display: block;
          margin: 0 auto;
        }
        
        .footer-right .center {
          width: calc(100% / 2);
          margin: 0 auto;
        }
        .footer-right .center p {
          font-size: 12px;
          line-height: 12px;
          margin-top: 10px;
        }
        .footer-right .right {
          width: calc(100% / 2);
          margin: 0 auto;
        }
        .footer-right .right p {
         font-size: 12px;
          line-height: 12px;
          margin-top: 15px;
        }
        .footer-right .right img {
          margin-top: 20px;
        }
        .title h2{
          font-size: 28px;
          padding-top: 50px;
      }
      .title p{
          font-size: 18px;
      }
      .main-letter p{
        font-size: 20px;
        margin-bottom: 0px;
       
      }
      .main-letter button{
        font-size: 18px;
        padding: 10px 30px;
        border-radius: 50px;
        color: red;
        margin-bottom: 80px;
       }
  }
  