@charset "utf-8";
.brand-banner {
  width: 100%;
}
.brand-banner-inner {
  width: 100%;
  /* height: 56.21vw; */
  position: relative;
}
.brand-banner .brand-banner-inner img {
  width: 100%;
}
.brand-banner-inner a {
  font-size: 4rem;
  font-weight: 900;
  text-decoration: none;
  color: rgb(255, 57, 57);

  position: absolute;
  top: 28%;
  left: 6%;
}
/* 반응형 */
@media screen and (max-width: 930px) {
  .brand-banner-inner a {
    font-size: 30px;
  }
}
@media screen and (max-width: 630px) {
  .brand-banner-inner a {
    font-size: 20px;
  }
}
@media screen and (max-width: 440px) {
  .brand-banner-inner a {
    font-size: 15px;
  }
}
