@charset "utf-8";
.footer {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}
.footer p{
  line-height: 20px;
}
.footer-inner {
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  display: flex;
}
.footer-left {
  width: calc(100% / 3);
  margin-left: 10px;
}
.footer-left img {
  margin-top: 100px;
}
.footer-left p {
  font-size: 20px;
}
.footer-right {
  width: calc(100% / 3 * 2);
  display: flex;
}

.footer-right .center {
  width: calc(100% / 2);
}
.footer-right .center p {
  font-size: 20px;
  margin-top: 40px;
  line-height: 20px;
}
.footer-right .right {
  width: calc(100% / 2);
}
.footer-right .right p {
  font-size: 20px;
  margin-top: 40px;
  line-height: 40px;
}
.footer-right .right img {
  margin-top: 20px;
}
/* 반응형 */
@media screen and (max-width: 950px) {
  .footer-left img {
    width: 70%;
  }
  .footer-right .right img {
    width: 70%;
  }
}
@media screen and (max-width: 800px) {
  .footer-left img {
    width: 70%;
  }
  .footer-right .right img {
    width: 70%;
  }
  .footer-left p {
    font-size: 15px;
  }
  .footer-right .center p {
    font-size: 17px;
  }
  .footer-right .right p {
    font-size: 17px;
  }
}
@media screen and (max-width: 650px) {
  .footer-left img {
    width: 70%;
  }
  .footer-right .right img {
    width: 70%;
  }
  .footer-left p {
    font-size: 15px;
  }
  .footer-right .center p {
    font-size: 15px;
    line-height: 18px;
  }
  .footer-right .right p {
    font-size: 15px;
    line-height: 25px;
  }
}
@media screen and (max-width: 550px) {
  .footer-left img {
    width: 70%;
    margin-top: 120px;
  }
  .footer-right .right img {
    width: 70%;
  }
  .footer-left p {
    font-size: 13px;
  }
  .footer-right .center p {
    font-size: 13px;
    line-height: 12px;
    margin-top: 50px;
  }
  .footer-right .right p {
    font-size: 13px;
    line-height: 25px;
  }
}
@media screen and (max-width: 450px) {
  .footer-left img {
    width: 70%;
    margin-top: 120px;
  }
  .footer-right .right img {
    width: 70%;
  }
  .footer-left p {
    font-size: 12px;
  }
  .footer-right .center p {
    font-size: 12px;
    line-height: 12px;
    margin-top: 50px;
  }
  .footer-right .right p {
    font-size: 12px;
    line-height: 20px;
  }
}
@media screen and (max-width: 375px) {
  .footer-inner {
    display: block;
  }
  .footer-left {
    margin: 0 auto;
    display: block;
  }
  .footer-left img {
    margin: 0px auto;
    display: block;
    padding-top: 20px;
  }
  .footer-left p {
    text-align: center;
    font-size: 8px;
    display: block;
    margin: 0 auto;
  }

  .footer-right {
    width: 100%;

    display: block;
    margin: 0 auto;
  }

  .footer-right .center {
    width: calc(100% / 2);
    margin: 0 auto;
  }
  .footer-right .center p {
    font-size: 12px;
    line-height: 12px;
    margin-top: 30px;
  }
  .footer-right .right {
    width: calc(100% / 2);
    margin: 0 auto;
  }
  .footer-right .right p {
    font-size: 12px;
    line-height: 12px;
    margin-top: 30px;
  }
  .footer-right .right img {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 320px) {
  .footer-inner {
    display: block;
  }
  .footer-left {
    margin: 0 auto;
    display: block;
  }
  .footer-left img {
    margin: 0px auto;
    display: block;
    padding-top: 20px;
  }
  .footer-left p {
    text-align: center;
    font-size: 8px;
    display: block;
    margin: 0 auto;
  }

  .footer-right {
    width: 100%;

    display: block;
    margin: 0 auto;
  }

  .footer-right .center {
    width: calc(100% / 2);
    margin: 0 auto;
  }
  .footer-right .center p {
    font-size: 12px;
    line-height: 12px;
    margin-top: 30px;
  }
  .footer-right .right {
    width: calc(100% / 2);
    margin: 0 auto;
  }
  .footer-right .right p {
    font-size: 12px;
    line-height: 12px;
    margin-top: 30px;
  }
  .footer-right .right img {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
