@charset "utf-8";
.header {
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: space-between;
}
.header .header-inner {
  width: 100%;
  height: 100%;
}
/* 상단위 왼쪽 메뉴바 */
.header-inner .header-menu {
  width: 25%;
  height: 100%;
  padding: 20px 20px;
  float: left;
}
.header-menu a {
  width: 70%;
  height: 100%;
}
.header-menu a img {
  width: 30%;
  /* height: 100%; */
}
/* 로고 */
.header-inner .logo {
  width: 60%;
  height: 100%;
  float: left;
  padding: 10px 10px;
  margin-top: 10px;
  display: flex;
}
.logo a {
  width: 70%;
  height: 50%;
}
.logo a img {
  width: 100%;
}
/* 상단위 오른쪽 장바구니 */
.header-inner .cart {
  width: 15%;
  float: left;
  padding-top: 10px;
}
.cart a {
  width: 100%;
  height: 100%;
}
.cart a img {
  width: 50%;
  /* height: 50%; */
}
