@charset "utf-8";
/* 폰트를 가져오기 */
@import url("font.css");
@import url("header.css");
@import url("brand-banner.css");
@import url("product.css");
@import url("membership.css");
@import url("footer.css");
@import url("responsive.css");
@import url("baner.css");
@import url("brand-intro.css");
html {
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
.wrap {
  width: 100%;
  max-width: 1280px;
  display: block;
  margin: 0 auto;
}
/* gotop */
.gotop img {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
}
.gotop.active-footer {
  bottom: 320px;
}
.gotop{
  
}
