@charset "utf-8";
.membership {
  width: 100%;
  padding-top: 100px;
}
.membership-inner {
  width: 100%;
  height: 600px;
  background-color: rgb(230, 230, 230);
  display: flex;
}
/* 왼쪽 영역 */
.membership-left {
  width: 40%;
  height: 100%;
  float: left;
  align-content: center;
  text-align: center;
}
.membership-left h3 {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 900;
}
.membership-left button{
    width: 60%;
    height: 80px;
    font-size: 35px;
    border-radius: 50px;
    font-weight: 500;
}
/* 오른쪽 영역 */
.membership-right{
    /* background-color: aquamarine; */
    width: 60%;
    height: 100%;
    align-content: center;
    text-align: center;
}
.membership-right .truck{
    width: 50%;
    float: left;
}
.membership-right .coupon{
    width: 50%;
    float: left;
}
.membership-right .truck img{
    width: 50%;
    margin-bottom: 15px;
    margin-top: 10px;
}
.membership-right .truck h3{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
    font-weight: 700;
}
.membership-right .coupon img{
    width: 50%;
    
   
}
.membership-right .coupon h3{
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
}
/* 반응형 */
@media screen and (max-width:768px) {
  .membership-left button{
    font-size: 25px;
  }
}
@media screen and (max-width:635px) {
  .membership-left button{
    font-size: 20px;
    height: 60px;
  }
  .membership-right .truck h3{
    font-size: 25px;
  }
  .membership-right .coupon h3{
    font-size: 25px;
  }
  .membership-left h3{
    font-size: 25px;
  }
}
@media screen and (max-width:535px) {
  .membership-left button{
    font-size: 20px;
    height: 50px;
  }
  .membership-right .truck h3{
    font-size: 20px;
    line-height: 25px;
  }
  .membership-right .coupon h3{
    font-size: 20px;
    line-height: 25px;
  }
  .membership-left h3{
    font-size: 22px;
  }
}
@media screen and (max-width:450px) {
  .membership-inner{
    height: 500px;
  }
  .membership-left button{
    font-size: 17px;
    height: 50px;
  }
  .membership-right .truck h3{
    font-size: 17px;
    line-height: 23px;
  }
  .membership-right .coupon h3{
    font-size: 17px;
    line-height: 23px;
  }
  .membership-left h3{
    font-size: 20px;
  }
}
@media screen and (max-width:320px) {
  .membership{
    padding-top: 30px;
  }
  .membership-left{
    width: 55%;
  }
  .membership-right{
    width: 45%;
  }
  .membership-inner{
    height: 400px;
  }
  .membership-right .truck{
    width: 60%;
    float: none;
    margin: 0 auto
  }
  .membership-right .coupon{
    width: 60%;
    float: none;
    margin: 0 auto
  }
  .membership-left button{
    font-size: 15px;
    height: 50px;
  }
  .membership-right .truck h3{
    font-size: 13px;
    line-height: 20px;
  }
  .membership-right .coupon h3{
    font-size: 13px;
    line-height: 20px;
  }
  .membership-left h3{
    font-size: 18px;
  }
}