@charset "utf-8";
.product h3 {
  text-align: center;
  margin: 10px 10px;
}

.product ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.product ul li {
  width: 50%;
  padding: 20px;
}
.product a img {
  width: 100%;
  height: 100%;
  padding: 20px;
}

/* 반응형 */
@media screen and (max-width: 1280px) {
  .product {
    max-width: 1024px;
  }
}

@media screen and (max-width: 550px) {
  .product img {
    width: 70%;
  }
}
@media screen and (max-width: 450px) {
}
@media screen and (max-width: 320px) {
}
