@charset "utf-8";
.product span {
    text-align: center;
    font-size: 70px;
}
.product{
    width: 100%;
    height: 700px;
    margin: 0 auto;
}
.product img{
    width: 400px;
    height: 400px;
}
.container{
    width: 100%;
    height: 100%;
}