@charset "utf-8";
.product {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}
.product h3 {
  padding: 30px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 30px;
}
.product ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.product ul li {
  width: calc(100% / 2);
  padding: 20px;
  height: 500px;
}
.product ul li a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.product a img {
  width: 100%;
  height: 100%;
}
/* 상품설명 */
.product p {
  color: #fff;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding-top: 10px;
}
.product .info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  opacity: 0;
}

.product li:hover .info {
  opacity: 1;
}

/* 반응형 */
@media screen and (max-width: 1280px) {
  .product ul li {
    height: 39vw;
  }
  .product p {
    font-size: 20px;
    padding: 10px 0;
  }
}
@media screen and (max-width: 768px) {
  .product p {
    font-size: 15px;
  }
}
@media screen and (max-width: 550px) {
  .product ul li {
    width: 100%;
    height: 100%;
  }
  .product h3 {
    padding: 20px;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 25px;
  }
  .product p {
    font-size: 15px;
    padding: 15px;
  }
}
@media screen and (max-width: 450px) {
  .product ul li {
    width: 100%;
    height: 100%;
  }
  .product h3 {
    padding: 20px;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 20px;
  }
  .product p {
    font-size: 10px;
    padding: 10px;
  }
}
@media screen and (max-width: 320px) {
  .product ul li {
    width: 100%;
    height: 100%;
  }
  .product h3 {
    padding: 20px;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 20px;
  }
  .product p {
    font-size: 10px;
    padding: 10px;
  }
}
